.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between; /*espacion entre elementos*/
}
.headerPrincipal-nav{
    display: flex;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;

}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm{
    width: 25%;

}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 250px;
    flex-wrap: wrap;/*cuando llegue a los 250px quiebra y hace otra columna*/
}
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}
.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}
 /*responsive*/
@media (max-width:768px) {
   
 .headerPrincipal .container{
    flex-direction: column;/*para que deje de ser linea y pase a columna*/
    align-items: initial;/*modificar lo itmes de manera vertical*/
    text-align: center;
 }
 .headerPrincipal-nav{
    flex-direction: column;
 }
 .contenidoPrincipal-cursos{
    flex-direction: column;
 }
 .contenidoPrincipal-cursos-link{
    width: 100%;/*para que quede en toda la página*/
 }
 .rodapePrincipal-navMap-list{
    height: auto;
    flex-wrap: nowrap;
 }
 .rodapePrincipal-patrocinadores .container{
    flex-direction: column;
 }
 .rodapePrincipal-contatoForm{
    width: 100%;
 }
 .rodapePrincipal-patrocinadores-list{
    align-items: center;
    width: 100%;
    margin: 0;
 }
 .rodapePrincipal-contatoForm{
    justify-content: center;
 }
 .headerPrincipal-nav-link-app{
    order: -1;

 }
}